:root {
  font-family: sans-serif;

  --primary: #2e3192;
  --secondary: #565be6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

main {
  padding: 18px;
  max-width: 600px;
  margin: auto;
}
